.container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    box-sizing: border-box;
}

.filterGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: flex-start;
}

.cleanInput {
    width: 60rem;
    height: 30rem;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 14rem;
    font-weight: 600;
    font-family: inherit;
    text-align: center;
    line-height: 30rem;
    padding: 0;

    &:focus {
        outline: none;
        background: rgba(255, 255, 255, 0.1);
    }

    appearance: textfield;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }


    .greenIcon {
        fill: #61cb65 !important;
    }
    
}